In [ ]:
import sqlite3

connection = sqlite3.connect("crew_roster.db")
cursor = connection.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS Roster (
    Name TEXT,
    Species TEXT,
    Age INTEGER
)
""")

cursor.executemany("""
INSERT INTO Roster (Name, Species, Age)
VALUES (?, ?, ?)
""", [
    ("Michael Burnham", "Human", 35),
    ("Odo Ran", "Changeling", 150),
    ("T'Lora", "Vulcan", 87)
])

cursor.execute("""
UPDATE Roster
SET Name = 'Odo Prime'
WHERE Name = 'Odo Ran'
""")

cursor.execute("""
SELECT Name, Age
FROM Roster
WHERE Species = 'Vulcan'
""")
results = cursor.fetchall()

print("Vulcan Individuals:")
for row in results:
    print(f"Name: {row[0]}, Age: {row[1]}")

connection.commit()
connection.close()

Vulcan Individuals:
Name: T'Lora, Age: 87